In [1]:
import pandas as pd
import numpy as np

# Checking the information

Quickly check the data shape, type and how it is organized

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.shape

(32561, 15)

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
pd.unique(df['education'])

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [8]:
pd.unique(df['race'])

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

# Answer the questions

Analyze here them transfer to .py file

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [9]:
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [10]:
average_age_men = df[df['sex'] == 'Male'].age.mean().round(1)
print(average_age_men)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [11]:
percentage_bachelors = round(df[df['education'] == 'Bachelors'].education.count()/df.shape[0],2)*100

print(percentage_bachelors,'%')

16.0 %

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
Create a mask and them proceed the question

In [12]:
pd.unique(df['salary'])

array(['<=50K', '>50K'], dtype=object)

In [13]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

higher_education_rich = round(higher_education[higher_education['salary'] == '>50K'].salary.count()/higher_education.shape[0],3)*100

print(higher_education_rich, '%')

46.5 %

### What percentage of people without advanced education make more than 50K?

In [14]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

lower_education_rich = round(lower_education[lower_education['salary'] == '>50K'].salary.count()/lower_education.shape[0],2)*100

print(lower_education_rich, '%')

17.0 %

### What is the minimum number of hours a person works per week?

In [15]:
min_work_hours = df['hours-per-week'].min()

print(min_work_hours)

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [16]:
num_min_workers = df[df['hours-per-week'] == 1]

rich_percentage = round(num_min_workers[num_min_workers['salary'] == '>50K'].salary.count()/num_min_workers.shape[0],2)*100

print(rich_percentage, '%')

10.0 %

### What country has the highest percentage of people that earn >50K?

In [19]:
highest_earning_country = (df.loc[df['salary'] == '>50K','native-country'].value_counts()/ df['native-country'].value_counts() * 100).sort_values(ascending=False).idxmax()

highest_earning_country_percentage = round(df[(df['salary'] == '>50K') & (df['native-country'] == highest_earning_country)]['native-country'].count() / (df[df['native-country'] == highest_earning_country]['native-country']).count() * 100,1)

print(highest_earning_country)

print(highest_earning_country_percentage)

Iran
41.9

### Identify the most popular occupation for those who earn >50K in India.

In [18]:
top_IN_occupation = df[df['native-country'] == 'India'].occupation.value_counts().index[0]

print(top_IN_occupation)

Prof-specialty